
body{background-color: black;  }
.baby {
	background-image: url('images/PageOne_background.png');
	width:100vw;
	height:400px;
    background-repeat: repeat-x;
    position: relative;

}

.a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  

  h1{color:gold;}
  h2{color:gold;}
  h3{color:gold;}
  
.rectangle {
height: 80vw;
width: 100px;
background-color: black;
}
 
 .c {
	background-image: url('images/black_animals_background.png');
	width: 100vw;
	height: 100vh;
    background-repeat: no-repeat;
 	background-position: center;
	background-size: auto 100vh;
	text-align: center;
 }
 

  p{color:gold;}
